<mat-form-field [formGroup]="formGroup">
  <label for="{{id}}">
    <ng-content></ng-content>
  </label>
  <input #input inputmode="numeric" (blur)="onBlur(input.value)" [formControl]="formControl" id="{{id}}" matInput [value]="value">

  <div *ngIf="formControl.invalid && (formControl.dirty || formControl.touched) && formControl.errors"
       class="alert alert-danger">
    <mat-error *ngIf="formControl.errors.required">
      Valeur requise
    </mat-error>
    <mat-error *ngIf="formControl.errors.pattern">
      Valeur doit être numérique
    </mat-error>
  </div>
</mat-form-field>
