<div id="editor-container" (mouseup)='handleMouseEvent($event)'>
  <app-toolbar #toolbar id='toolbar'
               [(currentToolType)]=currentToolType
  (editorBackgroundChanged)="changeBackground($event)"
  (mouseleave)="toolbar.close()"
               (mouseenter)='toolbar.open()'
  ></app-toolbar>
  <app-drawing-surface #drawingSurface [color]="surfaceColor" [width]="surfaceWidth" [height]="surfaceHeight"
    (dblclick)="handleMouseEvent($event)"
    (mousedown)="handleMouseEvent($event)"
    (mousemove)="handleMouseEvent($event)"
    (mouseleave)="handleMouseEvent($event)"
  ></app-drawing-surface>
</div>
