<div id="editor-container" (mouseup)='handleMouseEvent($event)'>
  <app-toolbar #toolbar id='toolbar'
    [(currentToolType)]=currentToolType
    (editorBackgroundChanged)="changeBackground($event)"
    (mouseleave)="toolbar.close()"
    (guideButtonClicked)="openGuide()"
    (mouseenter)='toolbar.open()'
  ></app-toolbar>
  <app-drawing-surface #drawingSurface [color]="surfaceColor" [width]="surfaceWidth" [height]="surfaceHeight"
    (dblclick)="handleMouseEvent($event)"
    (mousedown)="handleMouseEvent($event)"
    (click)="handleMouseEvent($event)"
    (mousemove)="handleMouseEvent($event)"
    (mouseleave)="handleMouseEvent($event)"
    (longPressed)="onLongPress($event)"
  ></app-drawing-surface>
</div>
