h1 {
    background-color: cornflowerblue;
    color: white;
    margin: 0px;
    top: 0;
    left: 0;
}
mat-sidenav-container {
    height: 1000px;
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
mat-sidenav {
    scroll-behavior: auto;
    background-color: lightskyblue;
    width: 200px;
}
.prevButton {
  position: absolute;
  left: 10px;
  bottom: 50px;
}
.nextButton {
  position: absolute;
  right: 10px;
  bottom: 50px;
}
#mat-sidenav-buttons > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
