<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" style="text-align: center;">
    <div id="mat-sidenav-cat">
      <button mat-raised-button (click)="selectSubject(subjects.Bienvenue)">Bienvenue</button>

      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState1" (closed)="panelOpenState1=false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Outils
            </mat-panel-title>
            <mat-panel-description>
              S1-S2
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button mat-flat-button id="buttoncat" (click)="selectSubject(subjects.Sujet1)">Sujet1</button>
          <p></p>
          <button mat-flat-button id="buttoncat" (click)="selectSubject(subjects.Sujet2)">Sujet2</button>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState2" (closed)="panelOpenState2=false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              cat2
            </mat-panel-title>
            <mat-panel-description>
              S3-S4
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><button mat-flat-button id="buttoncat" (click)="selectSubject(subjects.Sujet3)">Sujet3</button></p>
          <p><button mat-flat-button id="buttoncat" (click)="selectSubject(subjects.Sujet4)">Sujet4</button></p>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState3" (closed)="panelOpenState3=false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              cat3
            </mat-panel-title>
            <mat-panel-description>
              S5-S6
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><button mat-flat-button id="buttoncat" (click)="selectSubject(subjects.Sujet5)">Sujet5</button></p>
          <p><button mat-flat-button id="buttoncat" (click)="selectSubject(subjects.Sujet6)">Sujet6</button></p>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-flat-button id="buttonBack" (click)="goHome()">Retour</button>
      <button mat-flat-button id="buttonBack" (click)="openPage('')">Page d'acceuil</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
      <div *ngIf="sidenav.opened; else elseBlock">
        <button mat-icon-button id="back-button" (click)="sidenav.toggle()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <ng-template #elseBlock>
          <div>
            <button mat-icon-button id="back-button" (click)="sidenav.toggle()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
      </ng-template>
      <div [ngSwitch]="selectedSubject" id="main_content">
        <div *ngSwitchCase="subjects.Bienvenue"><app-welcome></app-welcome></div>
        <div *ngSwitchCase="subjects.Sujet1"><app-subject1></app-subject1></div>
        <div *ngSwitchCase="subjects.Sujet2"><app-subject2></app-subject2></div>
        <div *ngSwitchCase="subjects.Sujet3"><app-subject3></app-subject3></div>
        <div *ngSwitchCase="subjects.Sujet4"><app-subject4></app-subject4></div>
        <div *ngSwitchCase="subjects.Sujet5"><app-subject5></app-subject5></div>
        <div *ngSwitchCase="subjects.Sujet6"><app-subject6></app-subject6></div>
        <mat-divider></mat-divider>
      </div>

      <div>
        <button mat-button id="prevButton" (click)="previousSubject()">precedent</button>
        <button mat-button id = "nextButton" (click)="nextSubject()">suivant</button>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>
