h1 {
    background-color: cornflowerblue;
    color: white;
    margin: 0px;
    top: 0;
    left: 0;
}
mat-sidenav-container {
    height: 1000px;
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
mat-sidenav {
    scroll-behavior: auto;
    background-color: lightskyblue;
    width: 200px;
}