<app-abstract-modal>
  <mat-sidenav-container content>
    <mat-sidenav #sidenav mode="side" style="text-align: center;">
      <div id="mat-sidenav-cat">
        <button mat-raised-button (click)="selectSubject(subjects.Welcome)">Bienvenue</button>

        <mat-accordion>
          <mat-expansion-panel [expanded]="panelOpenState1" (closed)="panelOpenState1=false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Outils
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-flat-button class="btn-cat" (click)="selectSubject(subjects.Pen)">Crayon</button>
            <p></p>
            <button mat-flat-button class="btn-cat" (click)="selectSubject(subjects.Brush)">Pinceau</button>
            <p></p>
            <button mat-flat-button class="btn-cat" (click)="selectSubject(subjects.Rectangle)">Rectangle</button>
            <p></p>
            <button mat-flat-button class="btn-cat" (click)="selectSubject(subjects.Line)">Ligne</button>
            <p></p>
            <button mat-flat-button class="btn-cat" (click)="selectSubject(subjects.Color)">Sélecteur de couleurs
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <button mat-icon-button id="menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div [ngSwitch]="selectedSubject" id="main_content">
        <div *ngSwitchCase="subjects.Welcome">

          <div class="header">
            <h1>Guide utilisateur</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="welcomeContent">
            <mat-list-item>
              <p> Bienvenue au guide utilisateur de Polydessin. Accélérez vos capacités de conception en faisant défiler la table des matières à votre gauche et découvrez comment utiliser chacune de nos fonctionnalités à leur plein potentiel.
              </p>
            </mat-list-item>

          </mat-list>

        </div>
        <div *ngSwitchCase="subjects.Pen">

          <div class="header">
            <h1>Crayon</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="penContent">
            <mat-list-item>

              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Dessiner librement et simplement sur la surface de dessin!
                  Cet outil vous permet de laisser place à votre imagination et tracer une ligne de taille et couleur ajustable sans assistance ou restriction.
                </p>

                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  À l’appui du bouton principal (bouton de gauche) de votre appareil de sélection, l’outil commencera à dessiner! Tenir enfoncé pour une trace allongée.
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Épaisseur du trait - Il est possible de modifier l’épaisseur du trait à l’aide de la fenêtre modale ou « side-bar » d’outils.
                  Vous n’avez qu’à sélectionner l’icône du crayon et modifier la valeur apparaissant sous la forme d’une glissière ou d’une entrée numérique.
                </p>
                <p>
                  Couleur du trait – Il est possible de modifier la couleur du trait en modifiant la couleur principale du sélectionneur de couleur.
                </p>
              </div>
            </mat-list-item>
          </mat-list>

        </div>
        <div *ngSwitchCase="subjects.Line">
          <div class="header">
            <h1>Ligne</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="lineContent">
            <mat-list-item style="display: block;">
              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Tracez aisément des lignes droites et orientez-les dans la direction que vous voulez!
                </p>

                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  À l’appui du bouton principal (bouton de gauche) de votre appareil de sélection, l’outil tracera un point où vous appuierez.
                  L’outil tracera ensuite une ligne vers le prochain point appuyé.
                  Il est possible de fixer l’angle de traçage en appuyant sur la touche SHIFT avant de sélectionner le prochain point.
                  Pour cesser de tracer une ligne, appuyiez simplement sur BACKSPACE, ESCAPE ou deux appuis consécutifs sur le bouton principal de votre appareil de sélection.
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Épaisseur du trait - Il est possible de modifier l’épaisseur du trait à l’aide de la fenêtre modale ou « side-bar » d’outils.
                  Vous n’avez qu’à sélectionner l’icône de l’outil ligne et modifier la valeur «  Épaisseur de la ligne » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
                </p>
                <p>
                  Épaisseur des points de jonction - Il est possible de modifier l’épaisseur des points de jonction entre les traits à l’aide de la fenêtre modale ou « side-bar » d’outils.
                  Vous n’avez qu’à sélectionner l’icône de l’outil ligne et modifier la valeur « Épaisseur des points de jonction » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
                  Points de jonction
                </p>
                <p>
                  Pour activer ou désactiver les points de jonction lors du traçage, il suffit de sélectionner « Avec points » ou « Sans points » à l’aide de la fenêtre modale d’outils.
                </p>
                <p>
                  -
                </p>
                <p>
                  Couleurs:
                </p>
                <p>
                  Il est possible de modifier la couleur du trait en modifiant la couleur principale du sélectionneur de couleur.
                  La couleur des points de jonction correspond à la couleur secondaire sélectionnée.
                </p>
              </div>
            </mat-list-item>
          </mat-list>


        </div>
        <div *ngSwitchCase="subjects.Brush">
          <div class="header">
            <h1>Pinceau</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="brushContent">
            <mat-list-item style="display: block;">
              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Peinturez librement et simplement sur la surface de dessin!
                  Cet outil vous permet de laisser place à votre imagination et tracer une ligne de taille, texture et couleur ajustable sans assistance ou restriction.
                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  À l’appui du bouton principal (bouton de gauche) de votre appareil de sélection, l’outil commencera à dessiner! Tenir enfoncé pour une trace allongée.
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Épaisseur du trait - Il est possible de modifier l’épaisseur du trait à l’aide de la fenêtre modale ou « side-bar » d’outils.
                  Vous n’avez qu’à sélectionner l’icône de l’outil ligne et modifier la valeur «  Épaisseur de la ligne » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
                <p>
                  -
                </p>
                <p>
                  Sélection d’une texture:
                </p>
                <p>
                  Il est possible de sélectionner parmi l’une des cinq textures disponibles pour votre pinceau.
                  Pour choisir une texture, vous n’avez qu’à sélectionner l’icône du pinceau et sélectionner l’une des cinq options de texture afficher à l’écran.
                </p>
                <p>
                  Couleurs:
                </p>
                <p>
                  -
                </p>
                <p>
                  Il est possible de modifier la couleur du trait en modifiant la couleur principale du sélectionneur de couleur.
                  La couleur des points de jonction correspond à la couleur secondaire sélectionnée.
                </p>
              </div>
            </mat-list-item>
          </mat-list>

        </div>
        <div *ngSwitchCase="subjects.Rectangle">
          <div class="header">
            <h1>Rectangle</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="rectangleContent">
            <mat-list-item style="display: block;">
              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Cet outil vous permet de tracer un rectangle plein, vide, avec ou sans bordure en une simple traîne de la souris!
                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  Pour dessiner un rectangle, simplement appuyez sur le bouton principal (bouton de gauche) de votre appareil de sélection,
                  puis traînez votre pointeur dans la direction à laquelle vous désirez dessiner.
                  À l’appui de la touche SHIFT, le rectangle en cours de traçage peut être converti dynamiquement en un carré.
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Épaisseur du trait - Il est possible de modifier l’épaisseur du trait de contour à l’aide de la fenêtre modale ou « side-bar » d’outils.
                  Vous n’avez qu’à sélectionner l’icône de l’outil rectangle et modifier la valeur « Épaisseur du trait de contour » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
                </p>
                <p>
                  Type de tracé – Pour modifier le type de tracé de votre rectangle, vous n’avez qu’à sélectionner l’icône du rectangle et sélectionner l’un des trois types afficher à l’écran.
                </p>
                <p>
                  -
                </p>
                <p>
                  Couleurs:
                </p>
                <p>
                  Il est possible de modifier la couleur de remplissage en modifiant la couleur principale du sélectionneur de couleur.
                  La couleur du contour correspond à la couleur secondaire sélectionnée.
                </p>
              </div>
            </mat-list-item>
          </mat-list>

        </div>
        <div *ngSwitchCase="subjects.Color">
          <div class="header">
            <h1>Sélecteur de couleurs</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="colorContent">
            <mat-list-item style="display: block;">
              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Cet outil vous permet de sélectionner la couleur primaire et secondaire utilisée pour les outils de dessin.
                </p>

                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  Pour modifier la couleur principale ou secondaire, il vous suffit d’appuyer sur l’icône du sélectionneur de couleur et de traîner votre pointeur sur la couleur désirée.
                  Il est important de confirmer votre choix en appuyant sur le bouton « Confirmer ».
                  La couleur par défaut est la couleur primaire.
                  Pour changer la couleur sélectionnée, appuyez sur l’icône de changement de couleur (deux flèches opposées).
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Valeurs alphanumériques
                  En plus de pouvoir pointer la couleur désirée, il est possible de modifier la couleur avec les valeurs alphanumériques en hexadécimal.
                  L’entrée doit être comprise entre 00 et ff (0 et 255) pour être valide. Confirmer les changements.
                </p>
                <p>
                  Modifier la couleur d’arrière-plan
                  Pour modifier la couleur de la surface de dessin, sélectionnez d’abord une couleur, puis appuyez sur le bouton « Sélectionner comme couleur de fond ».
                  Confirmer les changements.
                </p>
              </div>
            </mat-list-item>
          </mat-list>

        </div>
        <mat-divider></mat-divider>
      </div>

      <div>
        <button mat-button id="prevButton" (click)="previousSubject()"
          [disabled]='disablePreviousButton'
        >précédent</button>
        <button mat-button id="nextButton" (click)="nextSubject()"
          [disabled]='disableNextButton'
        >suivant</button>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</app-abstract-modal>
