mat-sidenav-container {
  min-height: 100%;

}
mat-sidenav, mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  scroll-behavior: auto;
  background-color: cornflowerblue;
  width: 200px;
  position: fixed;
}
#main_content {
  margin-bottom: 75px;
}
#prevButton {
  float: left;
  left: 10px;
  bottom: 50px;
}
#nextButton {
  float: right;
  right: 10px;
  bottom: 50px;
}
#mat-sidenav-cat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

#mat-sidenav-cat > button {
  width: 100%;
}
#buttoncat {
  width: 100%;
}
#buttonBack{
  width: 100%;
  background-color: cornflowerblue;
}
#buttonHome{
  width: 100%;
  background-color: cornflowerblue;
}
