@import "../../../../../assets/globalTheme";
mat-sidenav-container {
 min-height: 100%;
}
mat-sidenav, mat-sidenav-content {
 padding: 16px;
}
mat-sidenav {
 background-color: cornflowerblue;
 width: 250px;
 min-height: 90%;
 overflow: hidden;
}
#main_content {
 margin-bottom: 75px;
}
#prevButton {
 float: left;
 left: 10px;
 bottom: 50px;
}
#nextButton {
 float: right;
 right: 10px;
 bottom: 50px;
}
#mat-sidenav-cat {
 display: flex;
 flex-direction: column;
 align-items: center;
 position: fixed;
}

#mat-sidenav-cat > button {
 width: 100%;
}
.btn-cat {
 width: 100%;
}

