canvas {
  margin-top: 1rem;
  border-style: solid;
  width: 294px;
}

#lightness-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  #color-preview {
    border-style: solid;
    width: 50px;
    height: 50px;
  }
}

#color-components {
  display: flex;
  justify-content: space-between;

  form {
    display: flex;
    flex-direction: column;
  }

  #alpha-form {
    display: flex;
    flex-direction: column;
    align-content: center;

    app-alpha {
      align-self: flex-end;
    }

    app-number-input {
      width: 58px;
      margin-top: 0.5rem;
    }
  }
}

#buttons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;

  button {
    width: 40%;
  }

}
