<div id="color-picker" [style.background-color]="color.hexString" >
  <div>
    <canvas #canvas id="color-square"
      width="{{size}}"
      height="{{size}}"
      (mousemove)="onMouseMove($event)"
      (mousedown)="onMouseDown($event)">
    </canvas>

    <app-color-lightness [color]="color"
      (lightnessChanged)="lightnessChanged($event)"
      [isVertical]="isVertical"
    ></app-color-lightness>
  </div>

  <form [formGroup]="formGroup" >
    <app-hex-input  #redinput
      required=true
      id="red-color-input"
      [errorMessages]="hexInputErrorMessages"
      [maxLength]=2
      [value]="color.r255.toString(16)"
      (valueChange)="colorChange(redinput.value, 'r')"
      [formGroup]="formGroup">
      R:
    </app-hex-input>
    <app-hex-input #greeninput
      required=true
      id="green-color-input"
      [errorMessages]="hexInputErrorMessages"
      [maxLength]=2
      [value]="color.g255.toString(16)"
      (valueChange)="colorChange(greeninput.value, 'g')"
      [formGroup]="formGroup">
      V:
    </app-hex-input>
    <app-hex-input #blueinput
      required=true
      id="blue-color-input"
      [errorMessages]="hexInputErrorMessages"
      [maxLength]=2
      [value]="color.b255.toString(16)"
      (valueChange)="colorChange(blueinput.value, 'b')"
      [formGroup]="formGroup">
      B:
    </app-hex-input>
    <app-hex-input #hexinput
      id="hex-color-input"
      required=true
      [length]=6
      prefix="#"
      [errorMessages]="hexInputErrorMessages"
      [value]="color.hex"
      (valueChange)="hexChange(hexinput.value)"
      [formGroup]="formGroup">Hex:
    </app-hex-input>
  </form>
</div>
