<div class="header">
  <h1>Sélecteur de couleurs</h1>
</div>
<mat-divider></mat-divider>
<mat-list id="guideContent">
  <mat-list-item style="display: block;">
    <div class="mat-list-text">
      <p>
        Description:
      </p>
      <p>
        Cet outil vous permet de sélectionner la couleur primaire et secondaire utilisée pour les outils de dessin.
      </p>

      <p>
        -
      </p>
      <p>
        Utilisation:
      </p>
      <p>
        Pour modifier la couleur principale ou secondaire, il vous suffit d’appuyer sur l’icône du sélectionneur de couleur et de traîner votre pointeur sur la couleur désirée.
        Il est important de confirmer votre choix en appuyant sur le bouton « Confirmer ».
        La couleur par défaut est la couleur primaire.
        Pour changer la couleur sélectionnée, appuyez sur l’icône de changement de couleur (deux flèches opposées).
      </p>
      <p>
        -
      </p>
      <p>
        Propriétés:
      </p>
      <p>
        Valeurs alphanumériques
        En plus de pouvoir pointer la couleur désirée, il est possible de modifier la couleur avec les valeurs alphanumériques en hexadécimal.
        L’entrée doit être comprise entre 00 et ff (0 et 255) pour être valide. Confirmer les changements.
      </p>
      <p>
        Modifier la couleur d’arrière-plan
        Pour modifier la couleur de la surface de dessin, sélectionnez d’abord une couleur, puis appuyez sur le bouton « Sélectionner comme couleur de fond ».
        Confirmer les changements.
      </p>
    </div>
  </mat-list-item>
</mat-list>

