<app-abstract-modal>
  <div id="search-bar" header>
    <app-name-input class="search-field" [(value)]="nameQuery">Filtrer par nom</app-name-input>
    <app-tag-input class="search-field" [(value)]="tagQuery">Filtrer par tag</app-tag-input>
    <button mat-flat-button id="apply-button" (click)="updateDrawings()">Appliquer</button>
  </div>
  <div id="main-container" content>
    <app-gallery-drawing class="drawing-container" *ngFor="let drawing of drawings" [drawing]="drawing">
    </app-gallery-drawing>
  </div>
  <div actions>

  </div>
</app-abstract-modal>