<div id="toolbar-container">
  <div id="toolbar-top-buttons">
    <button mat-icon-button id="back-button" (click)="navigate('')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="toolbar-section-divider"></div>
    <div *ngFor='let tool of toolTypeKeys'>
      <button id='{{toolButtonId(tool)}}' mat-icon-button [ngClass]="{'selected-tool': currentToolType === tool}"
        (click)="selectTool(tool)">
        <mat-icon>{{toolbarIcons.get(tool)}}</mat-icon>
      </button>
    </div>
  </div>
  <div id="toolbar-middle-buttons">

    <button id="swap-button" mat-icon-button (click)="editorService.colorsService.swapColors()">
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <div id="toolbar-primary-color" [style.background-color]="primaryColor.hexString"
      (click)="editColor(SelectedColorType.primary)" [ngStyle]="{'z-index': 1}">
    </div>
    <div id="toolbar-secondary-color" [style.background-color]="secondaryColor.hexString"
      (click)="editColor(SelectedColorType.secondary)" [ngStyle]="{'z-index':drawer.opened && selectedColor ? 2 : 0}">
    </div>
    <button id="toolbar-grid-button" mat-icon-button (click)="editGrid()">
      <mat-icon>grid_on</mat-icon>
    </button>

  </div>
  <div id="toolbar-bottom-buttons">
    <app-undo-redo></app-undo-redo>
    <button id="help-button" mat-icon-button (click)="openGuide()">
      <mat-icon>help</mat-icon>
    </button>
    <button id="save-button" mat-icon-button (click)="openChooseExportSave()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-drawer-content [ngSwitch]="currentToolType">
      <div *ngIf=!toolbarType>
        <!-- todo : move to a dedicated component for selection-tool?-->
        <div id="selectPanel" *ngSwitchCase='ToolType.Select'>
          <button id="copy" mat-button [disabled]="editorService.selectedShapes.length < 1" (click)="editorService.copySelectedShapes()">
            <img src="../../../../../../assets/ico_copy.png" height="24" width="24" alt=""/>
          </button>
          <button id="cut" mat-button [disabled]="editorService.selectedShapes.length < 1" (click)="editorService.cutSelectedShapes()">
            <img src="../../../../../../assets/ico_cut.png" height="24" width="24" alt=""/>
          </button>
          <button id="duplicate" mat-button [disabled]="editorService.selectedShapes.length < 1" (click)="editorService.duplicateSelectedShapes()">
            <img src="../../../../../../assets/ico_duplicate.png" height="24" width="24" alt=""/>
          </button>
          <button id="paste" mat-button [disabled]="editorService.clipboard.length < 1" (click)="editorService.pasteClipboard()">
            <img src="../../../../../../assets/ico_paste.png" height="24" width="24" alt=""/>
          </button>
          <button id="selectAll" mat-button [disabled]="editorService.shapes.length < 1" (click)="editorService.selectAll()">
            <img src="../../../../../../assets/ico_selectall.png" height="24" width="24" alt=""/>
          </button>
          <button id="delete" mat-button [disabled]="editorService.shapes.length < 1" (click)="editorService.deleteSelectedShapes()">
            <img src="../../../../../../assets/ico_delete.png" height="24" width="24" alt=""/>
          </button>
        </div>
        <app-pen-toolbar *ngSwitchCase='ToolType.Pen' class='toolbar-tool-section'></app-pen-toolbar>
        <app-brush-toolbar *ngSwitchCase='ToolType.Brush' class='toolbar-tool-section'></app-brush-toolbar>
        <app-rectangle-toolbar *ngSwitchCase='ToolType.Rectangle' class='toolbar-tool-section'></app-rectangle-toolbar>
        <app-ellipse-toolbar *ngSwitchCase='ToolType.Ellipse' class='toolbar-tool-section'></app-ellipse-toolbar>
        <app-line-toolbar *ngSwitchCase='ToolType.Line' class='toolbar-tool-section'></app-line-toolbar>
        <app-polygon-toolbar *ngSwitchCase='ToolType.Polygon' class='toolbar-tool-section'></app-polygon-toolbar>
        <app-spray-toolbar *ngSwitchCase='ToolType.Spray' class='toolbar-tool-section'></app-spray-toolbar>
        <app-eraser-toolbar *ngSwitchCase='ToolType.Eraser' class='toolbar-tool-section'></app-eraser-toolbar>
        <app-fill-toolbar *ngSwitchCase='ToolType.ColorFill' class='toolbar-tool-section'></app-fill-toolbar>
      </div>
      <div *ngIf='toolbarType === ToolbarType.colorPicker' [ngSwitch]="SelectedColorType" class="toolbar-tool-section">
        <h3 class="toolbar-option-section">Options du color picker</h3>
        <label *ngSwitchCase="SelectedColorType.primary">Couleur primaire</label>
        <label *ngSwitchCase="SelectedColorType.secondary">Couleur secondaire</label>
        <app-color-picker [showHistory]=true #colorPicker [color]="color" (colorChanged)="handleColorChanged($event)"
          (closed)='drawer.close()'></app-color-picker>
        <button id='btn-update-background' mat-flat-button (click)='updateBackground(colorPicker.color)'>Appliquer comme
          couleur de fond
        </button>
      </div>
      <div *ngIf='toolbarType === ToolbarType.grid'>
        <app-grid-toolbar class='toolbar-tool-section'></app-grid-toolbar>
      </div>
    </mat-drawer-content>
  </mat-drawer>
</mat-drawer-container>
