<div class="header">
  <h1>Rectangle</h1>
</div>
<mat-divider></mat-divider>
<mat-list id="guideContent">
  <mat-list-item style="display: block;">
    <div class="mat-list-text">
      <p>
        Description:
      </p>
      <p>
        Cet outil vous permet de tracer un rectangle plein, vide, avec ou sans bordure en une simple traîne de la souris!
      <p>
        -
      </p>
      <p>
        Utilisation:
      </p>
      <p>
        Pour dessiner un rectangle, simplement appuyez sur le bouton principal (bouton de gauche) de votre appareil de sélection,
        puis traînez votre pointeur dans la direction à laquelle vous désirez dessiner.
        À l’appui de la touche SHIFT, le rectangle en cours de traçage peut être converti dynamiquement en un carré.
      </p>
      <p>
        -
      </p>
      <p>
        Propriétés:
      </p>
      <p>
        Épaisseur du trait - Il est possible de modifier l’épaisseur du trait de contour à l’aide de la fenêtre modale ou « side-bar » d’outils.
        Vous n’avez qu’à sélectionner l’icône de l’outil rectangle et modifier la valeur « Épaisseur du trait de contour » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
      </p>
      <p>
        Type de tracé – Pour modifier le type de tracé de votre rectangle, vous n’avez qu’à sélectionner l’icône du rectangle et sélectionner l’un des trois types afficher à l’écran.
      </p>
      <p>
        -
      </p>
      <p>
        Couleurs:
      </p>
      <p>
        Il est possible de modifier la couleur de remplissage en modifiant la couleur principale du sélectionneur de couleur.
        La couleur du contour correspond à la couleur secondaire sélectionnée.
      </p>
    </div>
  </mat-list-item>
</mat-list>

