<mat-form-field [formGroup]="formGroup">
  <label for="{{id}}">
    <ng-content></ng-content>
  </label>
  <input [formControl]="formControl" class="form-control" id="{{id}}" matInput [value]="value">

  <div *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)"
       class="alert alert-danger">
    <mat-error *ngIf="formControl.errors.required">
      Valeur requise
    </mat-error>
    <mat-error *ngIf="formControl.errors.pattern">
      Valeur doit être numérique
    </mat-error>
  </div>
</mat-form-field>
