h1 {
    align-content: center;
    font-family: 'Impact';
}
button {
    background-color: white;
    border: 2px solid green;
    border-width: 5px;
    padding: 16px 16px;
    text-align: center;
    border-radius: 32px;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4ms;
    transition-duration: 0.4ms;
    cursor: pointer;
}
button:hover {
    background-color: lightgreen;
}
button:active {
    background-color: lightgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
