@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#toolbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    width: 60px;
    height: calc(100vh - 0px);

    background-color: cornflowerblue;
}

#toolbar-top-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#toolbar-bottom-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#toolbar-top-buttons > button, #toolbar-bottom-buttons > button {
    width: 50px;
    height: 50px;
}

.toolbar-section-divider {
    margin: 10px 0px;
}