<div id="toolbar-container">
  <div id="toolbar-top-buttons">
    <button mat-icon-button id="back-button" (click)="navigate('')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="toolbar-section-divider"></div>
    <button mat-icon-button [ngClass]="{'selected-tool': selectedTool === tools.Pencil}"
      (click)="selectTool(tools.Pencil)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [ngClass]="{'selected-tool': selectedTool === tools.Brush}"
      (click)="selectTool(tools.Brush)">
      <mat-icon>brush</mat-icon>
    </button>
    <button mat-icon-button [ngClass]="{'selected-tool': selectedTool === tools.Rectangle}"
      (click)="selectTool(tools.Rectangle)">
      <mat-icon>crop_square</mat-icon>
    </button>
    <button mat-icon-button [ngClass]="{'selected-tool': selectedTool === tools.Line}" (click)="selectTool(tools.Line)">
      <mat-icon>show_chart</mat-icon>
    </button>
    <button mat-icon-button [ngClass]="{'selected-tool': selectedTool === tools.ColorPicker}"
      (click)="selectTool(tools.ColorPicker)">
      <mat-icon>colorize</mat-icon>
    </button>
  </div>
  <div id="toolbar-middle-buttons">
    <div id="toolbar-primary-color" [style.background-color]="selectedPrimaryColor" (dblclick)="selectColor(false)"
      [ngStyle]="{'z-index':selectedColor ? 999 : 1000 }">
    </div>
    <div id="toolbar-secondary-color" [style.background-color]="selectedSecondaryColor" (dblclick)="selectColor(true)"
      [ngStyle]="{'z-index':selectedColor ? 1000 : 999 }">
    </div>
  </div>
  <div id="toolbar-bottom-buttons">
    <button mat-icon-button>
      <mat-icon (click)="navigate('help')">help</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-drawer-content [ngSwitch]="selectedTool">
      <div *ngSwitchCase="tools.Pencil" class="toolbar-tool-section">
        <h3 class="toolbar-option-section">Options du crayon</h3>
        <label>Épaisseur du trait</label>
        <mat-form-field>
          <input matInput type="number" (keypress)='validateNumber($event)' [(ngModel)]="thicknessPencil">
        </mat-form-field>
        <mat-slider [min]="MIN_THICKNESS" [max]="MAX_THICKNESS" [step]="STEP_THICKNESS" thumbLabel="true"
          [(ngModel)]="thicknessPencil">
        </mat-slider>
      </div>
      <div *ngSwitchCase="tools.Brush" class="toolbar-tool-section">
        <h3 class="toolbar-option-section">Options du pinceau</h3>
        <label>Épaisseur du trait</label>
        <mat-form-field>
          <input matInput type="number" (keypress)='validateNumber($event)' [(ngModel)]="thicknessBrush">
        </mat-form-field>
        <mat-slider [min]="MIN_THICKNESS" [max]="MAX_THICKNESS" [step]="STEP_THICKNESS" thumbLabel="true"
          [(ngModel)]="thicknessBrush">
        </mat-slider>
        <label>Texture du trait</label>
      </div>
      <div *ngSwitchCase="tools.Rectangle" class="toolbar-tool-section">
        <h3 class="toolbar-option-section">Options du rectangle</h3>
        <label>Épaisseur du trait de contour</label>
        <mat-form-field>
          <input matInput type="number" (keypress)='validateNumber($event)' [(ngModel)]="thicknessBrush">
        </mat-form-field>
        <mat-slider [min]="MIN_THICKNESS" [max]="MAX_THICKNESS" [step]="STEP_THICKNESS" thumbLabel="true"
          [(ngModel)]="thicknessBrush">
        </mat-slider>
        <label>Type de tracé</label>
        <mat-radio-group [(ngModel)]='rectangleContour'>
          <mat-radio-button *ngFor='let contourType of rectangleContourTypes' [value]='contourType'>
            {{contourType}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngSwitchCase="tools.Line" class="toolbar-tool-section">
        <h3 class="toolbar-option-section">Options de la ligne</h3>
        <label>Épaisseur de la ligne</label>
        <mat-form-field>
          <input matInput type="number" (keypress)='validateNumber($event)' [(ngModel)]="thicknessLine">
        </mat-form-field>
        <mat-slider [min]="MIN_THICKNESS" [max]="MAX_THICKNESS" [step]="STEP_THICKNESS" thumbLabel="true"
          [(ngModel)]="thicknessLine">
        </mat-slider>
        <label>Épaisseur des points de jonction</label>
        <mat-form-field>
          <input matInput type="number" (keypress)='validateNumber($event)' [(ngModel)]="thicknessLinePoints">
        </mat-form-field>
        <mat-slider [min]="MIN_THICKNESS" [max]="MAX_THICKNESS" [step]="STEP_THICKNESS" thumbLabel="true"
          [(ngModel)]="thicknessLinePoints">
        </mat-slider>
        <label>Style des points de jonction</label>
        <mat-radio-group [(ngModel)]='lineJunction'>
          <mat-radio-button *ngFor='let junctionType of lineJunctionTypes' [value]='junctionType'>
            {{junctionType}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngSwitchCase="tools.ColorPicker" [ngSwitch]="selectedColor" class="toolbar-tool-section">
        <h3 class="toolbar-option-section">Options du color picker</h3>

        <label *ngSwitchCase="false">Couleur primaire</label>
        <label *ngSwitchCase="true">Couleur secondaire</label>
        <app-color-picker #colorPicker (colorChanged)="handleColorChanged($event)"></app-color-picker>
      </div>
    </mat-drawer-content>
  </mat-drawer>
</mat-drawer-container>