<div id="toolbar-container">
    <div id="toolbar-top-buttons">
        <button mat-icon-button id="back-button">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="toolbar-section-divider"></div>
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>brush</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>crop_square</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>show_chart</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>colorize</mat-icon>
        </button>
    </div>
    <div id="toolbar-bottom-buttons">
        <button mat-icon-button>
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>