<app-abstract-modal>
  <div content>
    <img id="preview" [src]="previewURL()">
    <form [formGroup]="formGroup">
      <app-name-input [formGroup]="formGroup" [(value)]="name" required=true>Nom du fichier</app-name-input>
      <mat-form-field [formGroup]="formGroup">
        <mat-label>Extension</mat-label>
        <mat-select [(ngModel)]="selectedExtension" name="extensions">
          <mat-option *ngFor="let ext of extensions" [value]="ext">
            {{ext}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div actions>
    <button mat-button (click)="addFilter">
      Ajouter le filtre
    </button>
    <button mat-button id="save-button" [disabled]="formGroup.invalid" (click)="submit()">
      Sauvegarder
    </button>
  </div>
</app-abstract-modal>