<div class="header">
  <h1>Sélecteur de couleurs</h1>
</div>
<mat-divider></mat-divider>
<mat-list id="guideContent">
  <mat-list-item style="display: block;">
    <div class="mat-list-text">
      <p>
        Description:
      </p>
      <p>
        Tracez aisément des lignes droites et orientez-les dans la direction que vous voulez!
      </p>

      <p>
        -
      </p>
      <p>
        Utilisation:
      </p>
      <p>
        À l’appui du bouton principal (bouton de gauche) de votre appareil de sélection, l’outil tracera un point où vous appuierez.
        L’outil tracera ensuite une ligne vers le prochain point appuyé.
        Il est possible de fixer l’angle de traçage en appuyant sur la touche SHIFT avant de sélectionner le prochain point.
        Pour cesser de tracer une ligne, appuyiez simplement sur BACKSPACE, ESCAPE ou deux appuis consécutifs sur le bouton principal de votre appareil de sélection.
      </p>
      <p>
        -
      </p>
      <p>
        Propriétés:
      </p>
      <p>
        Épaisseur du trait - Il est possible de modifier l’épaisseur du trait à l’aide de la fenêtre modale ou « side-bar » d’outils.
        Vous n’avez qu’à sélectionner l’icône de l’outil ligne et modifier la valeur «  Épaisseur de la ligne » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
      </p>
      <p>
        Épaisseur des points de jonction - Il est possible de modifier l’épaisseur des points de jonction entre les traits à l’aide de la fenêtre modale ou « side-bar » d’outils.
        Vous n’avez qu’à sélectionner l’icône de l’outil ligne et modifier la valeur « Épaisseur des points de jonction » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
        Points de jonction
      </p>
      <p>
        Pour activer ou désactiver les points de jonction lors du traçage, il suffit de sélectionner « Avec points » ou « Sans points » à l’aide de la fenêtre modale d’outils.
      </p>
      <p>
        -
      </p>
      <p>
        Couleurs:
      </p>
      <p>
        Il est possible de modifier la couleur du trait en modifiant la couleur principale du sélectionneur de couleur.
        La couleur des points de jonction correspond à la couleur secondaire sélectionnée.
      </p>
    </div>
  </mat-list-item>
</mat-list>

