.header {
  font-family: lato;
  font-size: 2.2em;
  font-style: normal;
  align-items: center;
  text-align: center;
  height: 100px;
}
#guideContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
