<app-abstract-modal>
  <div content>
    <form [formGroup]="formGroup">
      <app-number-input [(value)]='width' [formGroup]="formGroup">Largeur: </app-number-input>
      <app-number-input [(value)]='height' [formGroup]="formGroup">Hauteur: </app-number-input>
      <app-color-picker [(color)]="color" [formGroup]="formGroup"></app-color-picker>
      <label>{{color.hex}}</label>
    </form>
  </div>
  <div actions>
    <button mat-stroked-button (click)="onCreateClick()"
            [disabled]="formGroup.invalid">
      Create
    </button>
  </div>
</app-abstract-modal>
