<div style="text-align: center">
    <h1>Polydessin</h1>
</div>


<p><button mat-raised-button color="primary" (click)="openCreateModal('edit')">Créer</button></p>
<p><button mat-raised-button color="primary">Gallerie</button></p>
<p><button mat-raised-button color="primary" (click)="openCreateModal('help')">Guide utilisateur</button></p>
<p *ngIf="previousDrawings; else elseBlock">
    <button mat-raised-button color="primary">Continuer mon dessin</button>
</p>
<ng-template #elseBlock>
    <p>
        <button mat-raised-button disabled>Continuer mon dessin</button>
    </p>
</ng-template>