<img-button id="copy" [src]="'../../../../../../../assets/ico_copy.png'"
            [disable]="!hasSelectedShapes" (click)="copy()">
</img-button>
<img-button id="cut" [src]="'../../../../../../assets/ico_cut.png'"
            [disable]="!hasSelectedShapes" (click)="cut()">
</img-button>
<img-button id="duplicate" [src]="'../../../../../../assets/ico_duplicate.png'"
            [disable]="!hasSelectedShapes" (click)="duplicate()">
</img-button>
<img-button id="paste" [src]="'../../../../../../assets/ico_paste.png'"
            [disable]="!hasShapesInClipboard" (click)="paste()">
</img-button>
<img-button id="selectAll" [src]="'../../../../../../assets/ico_selectall.png'"
            [disable]="!hasShapes" (click)="selectAll()">
</img-button>
<img-button id="delete" [src]="'../../../../../../assets/ico_delete.png'"
            [disable]="!hasSelectedShapes" (click)="delete()">
</img-button>
