<div class="header">
  <h1>Crayon</h1>
</div>
<mat-divider></mat-divider>
<mat-list id="guideContent">
  <mat-list-item style="display: block;">
    <div class="mat-list-text">
      <p>
        Description:
      </p>
      <p>
        Dessiner librement et simplement sur la surface de dessin!
        Cet outil vous permet de laisser place à votre imagination et tracer une ligne de taille et couleur ajustable sans assistance ou restriction.
      </p>

      <p>
        -
      </p>
      <p>
        Utilisation:
      </p>
      <p>
        À l’appui du bouton principal (bouton de gauche) de votre appareil de sélection, l’outil commencera à dessiner! Tenir enfoncé pour une trace allongée.
      </p>
      <p>
        -
      </p>
      <p>
        Propriétés:
      </p>
      <p>
        Épaisseur du trait - Il est possible de modifier l’épaisseur du trait à l’aide de la fenêtre modale ou « side-bar » d’outils.
        Vous n’avez qu’à sélectionner l’icône du crayon et modifier la valeur apparaissant sous la forme d’une glissière ou d’une entrée numérique.
      </p>
      <p>
        Couleur du trait – Il est possible de modifier la couleur du trait en modifiant la couleur principale du sélectionneur de couleur.
      </p>
    </div>
  </mat-list-item>
</mat-list>

